<h1>**** Welcome to The longest word-game! ****</h1>
<p>Here is your grid:</p>

<div style="font-size: 24px;">
  <% @letters.each do |letter| %>
    <span><%= letter %></span>
  <% end %>
</div>

<form action="<%= score_game_path %>" method="post" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters.join(' ') %>

  <div class="form-group">
    <label for="word">Your word:</label>
    <input type="text" name="word" id="word" class="form-control" required>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
